{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="profile">
        <div class="container">
            <h1 class="text-center">Профиль</h1>
            <div class="cart">
                <h2>Корзина</h2>
                {% if products %}
                    <section class="">
                        <div class="container">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col">

                                    <div class="card mb-4 bg-dark">
                                        <div class="card-body p-4">
                                            <div class="row align-items-center mb-3">
                                                <div class="col-md-4">
                                                    Фото
                                                </div>
                                                <div class="col-md-4 d-flex justify-content-center">
                                                    Название
                                                </div>
                                                <div class="col-md-4 d-flex justify-content-center">
                                                    Цена
                                                </div>
                                            </div>
                                            {% for cart_item in products %}
                                                <div class="row align-items-center">
                                                    <div class="col-md-4">
                                                        <img src="{% url 'home' %}photos/{{ cart_item.items__img }}"/>
                                                    </div>
                                                    <div class="col-md-4 text-center">
                                                        <p>{{ cart_item.items__name }}</p>
                                                        <small class="text-muted">{{ cart_item.items__description|truncatechars:40 }}</small>

                                                    </div>
                                                    <div class="col-md-4 d-flex justify-content-center">
                                                        {{ cart_item.items__price }}$
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="card mb-5 bg-dark">
                                        <div class="card-body p-4">

                                            <div class="float-end">
                                                <p class="mb-0 me-5 d-flex align-items-center">
                                                    <span class="small text-muted me-2 mr-3">Полная стоимость:</span>
                                                    <span
                                                            class="lead fw-normal">{{ total_price }}$</span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <button type="button"
                                                class="btn btn-primary btn-lg">
                                            Оплатить
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                {% else %}
                    <p>Увы ваша корзина пуста</p>
                    <a href="{% url 'catalog' %}">Выбрать товары</a>
                {% endif %}
            </div>
        </div>
    </section>
    {#    <a href="{% url 'logout' %}">Выйти</a>#}
{% endblock %}