@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #26282B;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.start {
    margin-top: 100px;
    margin-bottom: 300px;
}

li {
    list-style-type: none;
}

.title {
    font-size: 60px;
    margin-bottom: 0px;
    line-height: inherit;
}


.start_text {
    margin-top: 120px;
    /*margin-right: 50px;*/
}

img {
    width: 100%;
    height: auto;
}

.start_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about_text {
    text-align: center;
    margin-bottom: 20px;
}

.about {
    margin-bottom: 250px;
}

.catalog {
    margin-bottom: 100px;
}

.contacts_text {
    font-size: 20px;
    color: grey;
}

.contacts_start {
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog_start {
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog_list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 30px;
}

.card-prev {
    height: 200px;
}

@media (max-width: 1000px) {
    .blog_list {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 600px) {
    .blog_list {
        grid-template-columns: 100%;
    }
}

.post_col {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    padding: 10px;
}

@media (max-width: 800px) {
    .post_col {
        grid-template-columns: 100%;
    }
}

.img-border {
    border-radius: 10px;
}

.catalog {
    margin-top: 100px;
}

.xd {
    display: flex;
    flex-wrap: wrap;
}


.oneline {
    display: grid;
    grid-template-columns: 60% 20% 10%;
    grid-gap: 30px;
}

.pad {
    padding: 10px;
}

@media (max-width: 770px) {
    .oneline {
        padding-right: 10px;
        padding-left: 10px;
        grid-template-columns: 60% 20%;
    }
}

@media (max-width: 470px) {
    .oneline {
        grid-template-columns: 80%;
    }
}

.login_page {
    margin-top: 100px;
}

.profile {
    margin-top: 100px;
}
.cart {
    margin-top: 50px;
}
.back {
    background-color: #474a4f;
}
.col {
    padding-left: 0px;
    padding-right: 0px;
}
