{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="contacts_start">
        <div class="container">
            <h2>Контакты</h2>
            <p class="contacts_text mb-4">Телефон - +7 999 999-99-99
                <br>Почта - badsnus@mail.ru
                <br>Адрес - Пресненская наб., 10с1, Москва, 123317
            </p>
            <h3>Если у вас есть к нам вопрос - напишите его</h3>
            <form method="post" action="{% url 'send_message' %}">
                {% csrf_token %}
                <label for="telegramInput">Telegram</label>
                <input name="telegram" type="text" class="form-control mb-3"
                       id="telegramInput"
                       placeholder="Введите ваш телеграмм">
                <label for="question">Напиши ваш вопрос</label>
                <input name="question" id="question" style="display: none"/>
                <div class="input-group mb-3">
                    <textarea minlength="20" class="form-control"
                              oninput="document.querySelector('input#question').value = this.value;"
                              aria-label="question"
                              placeholder="почему вы elon shop?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить
                </button>
            </form>
    </section>
{% endblock %}