{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Shop</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/style/index.css' %}"/>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand text-light mr-5" href="{% url 'home' %}">Elon
            shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  mr-5">
                    <a class="nav-link text-light" href="{% url 'home' %}">Главная
                        <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  mr-5">
                    <a class="nav-link text-light" href="{% url 'catalog' %}">Каталог</a>
                </li>
                <li class="nav-item  mr-5">
                    <a class="nav-link text-light"
                       href="{% url 'blog' %}">Блог</a>
                </li>
                <li class="nav-item  mr-5">
                    <a class="nav-link text-light" href="{% url 'contacts' %}">Контакты</a>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0"
                    type="submit">В личный кабинет
            </button>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
<footer class="text-center text-lg-start text-muted">
    <section
            class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Связь с нами</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Elon shop
                    </h6>
                    <p>
                        Мы компания, которая дает возможность обычным людям
                        покупать необычные товары. С помощью нашей
                        продукции вы
                        сможете получить власть над всем миром.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Навигация
                    </h6>
                    <p>
                        <a href="{% url 'catalog' %}" class="text-reset">Каталог</a>
                    </p>
                    <p>
                        <a href="{% url 'blog' %}" class="text-reset">Блог</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Личный кабинет</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Ссылки
                    </h6>
                    <p>
                        <a href="https://github.com/Badsnus" target="blank"
                           class="text-reset">Github</a>
                    </p>
                    <p>
                        <a href="https://t.me/badsnus" target="blank"
                           class="text-reset">Telegram</a>
                    </p>
                    <p>
                        <a href="https://ekaterinburg.hh.ru/resume/d742ead6ff0b509c060039ed1f467a42475659"
                           target="blank"
                           class="text-reset">HH.ru</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
                    <p><i class="fas fa-home me-3"></i>Ekateringburg</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        badsnus@mail.ru
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +7 999 999-99-99
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4"
         style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold"
           href="https://elonshop.shop/">Elonshop</a>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>