{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="blog_start">
        <div class="container">
            <ul class="post_col">
                <li class="product_item">
                    {% if auth_error %}
                        <h6 class="text-danger">Чтобы добавить товар в
                            избранное - вы должны быть
                            авторизованы</h6>
                    {% endif %}
                    <form method="post" class="xd"
                          action="{% url 'product_detail' product.pk %}">
                        {% csrf_token %}
                        <h2>{{ product.name }}</h2>
                        <button type="submit" class="btn mb-3 mr-2 d">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                 height="20" fill="currentColor"
                                 class="bi bi-bookmark-star
                                 {% if in_fav %}
                                    text-success
                                 {% else %}
                                    text-danger
                                 {% endif %}
                                 viewBox=" 0 0 16 16
                            ">
                            <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </button>
                    </form>

                    <p>{{ product.description }}</p>
                    {% if not in_cart %}
                        <a class="btn btn-outline-success"
                           href="{% url 'add_item' product.pk %}">Купить
                            за {{ product.price }}$</a>
                    {% else %}
                        <a class="btn btn-outline-danger"
                           href="{% url 'delete_item' product.pk %}"> Удалить
                            из
                            корзины</a>
                    {% endif %}

                </li>
                <li class="post_item"><img class="card-img-top img-border"
                                           src="
                                 {% url 'home' %}photos/{{ product.img }}"
                                           alt="img {{ product.pk }}"></li>
            </ul>
            <a href="{% url 'catalog' %}"
               class="btn btn-dark">Обратно ко всем товарам</a>

        </div>
    </section>

{% endblock %}